
.heading {
  text-align: center;
  margin-top: -29px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: Lora;
}


#itemTable {
  font-family: Lora;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  color: white;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
}


#filterBar {
  padding-left: 10px;
  width: 200px;
  height: 25px;
  margin-left: 100px;
  font-family: Lora;
  font-size: 16px;
}

.mat-table mat-header-row,
.mat-table mat-row {
  padding: 0 24px 0 0;
  font-size: 13px;

}

.mat-table mat-header-cell,
.mat-table mat-cell {
  padding: 0 0 0 24px;
  font-size: 13px;
}
